.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5rem;
    background: linear-gradient(135deg, var(--ifm-color-primary-dark) 0%, var(--background-color) 100%);
}

.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 800px;
    @media (max-width: 996px) {
        flex-direction: column;
    }
}

.icon {
    box-shadow: 0 0 96px 8px rgb(137, 196, 255);
    border-radius: 50%;
    transition: box-shadow 0.2s;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 256px;
    height: 256px;
    @media (max-width: 996px) {
        display: none;
    }
}

[data-theme='dark'] .icon {
    box-shadow: 0 0 96px 8px rgba(79, 144, 244, 1);
}
